:root {
    --text-list: #fff;
    --text-b: #333;
    --btn-color: #111;
    --btn-primery:
        --primary-color: #4891ff;
    --light-color: #f4f4f6;
}

body {
    color: var(--text-b);
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-b);
    text-decoration: none;
}

img {
    max-width: 100%;
}


.menu-list ul {
    display: flex;
}

.navbar {
    padding: 20px;
    background-color: var(--text-list);
}

.navbar ul li a {
    display: block;
    font-weight: 600;
    transition: 0.15s ease-in-out;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    color: #4891ff;
}

.navbar ul li:last-child a {
    margin-left: 10px;

}

.navbar ul li a i {
    margin-right: 10px;

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hero {
    margin-bottom: 50px;
}

.hero .hero-content {
    width: 70%;
}

.hero .container {
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-image: url(../images/hero-bg.png);
}

.hro-heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 40px 0 20px;
}


.hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.video {
    /* margin: 30px; */
    padding: 10px 0 40px;
    /* border-radius: 50px; */
    position: relative;
}

/* 
.video-heading {
    padding: 20px;
} */

.video-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-pre {
    margin-bottom: 20px;
}

.test {
    padding: 40px 0;
}

.test-text {
    width: 700px;
    margin-bottom: 40px;
}

.test .test-grid {
    box-shadow: 0 3px 5px 10px rgba(#fff);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.test .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: #000;
    background-color: var(--text-list);
}

/* proice  */
.pricing .pricing-grid {
    display: grid;
    gap: 30px;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.pricing .pricing-card-subheading {
    margin-bottom: 30px;

}

.pricing .pricing-card-price {
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

.pricing ul li {
    margin: 20px;
}

.pricing ul li i {

    margin-right: 10px;
}

.pricing .pricing-footer {
    margin: 30px 0;
}

.text-fa {
    padding: 40px 0;

}

.faa {
    padding: 40px 0;
}

.faa ul {
    display: flex;
    font-weight: bolder;
    margin: auto;
    align-items: center;
    max-width: 400px;
    border-radius: 10px;
    background-color: #f4f4f6;
    padding: 10px 20px;
    justify-content: space-between;
}

.faa ul li {
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.faa ul li.active {
    background: #4891ff;
    /* White but transparent */
    backdrop-filter: blur(12px);
    /* Glass blur effect */
    -webkit-backdrop-filter: blur(12px);
    color: #fff;
    /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* White border */
    border-radius: 16px;
    /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
}

.faa .fa-grpp {
    margin-bottom: 20px;
}

.faa .fa-grpp .fa-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #000;

    margin-bottom: 15px;
}

.faa .fa-grpp .fa-header h3 {
    width: 90%;
}

.faa .fa-grpp .fa-header .font {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
}