:root {
    --text-list: #fff;
    --text-b: #333;
    --btn-color: #111;
    --btn-primery:
        --primary-color: #4891ff;
    --light-color: #f4f4f6;
}

body {
    color: var(--text-b);
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-b);
    text-decoration: none;
}

img {
    max-width: 100%;
}


.menu-list ul {
    display: flex;
}

.navbar {
    padding: 20px;
    background-color: var(--text-list);
}

.navbar ul li a {
    display: block;
    font-weight: 600;
    transition: 0.15s ease-in-out;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    color: #4891ff;
}

.navbar ul li:last-child a {
    margin-left: 10px;

}

.navbar ul li a i {
    margin-right: 10px;

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hero {
    margin-bottom: 50px;
}

.hero .hero-content {
    width: 70%;
}

.hero .container {
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-image: url(../images/hero-bg.png);
}

.hro-heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 40px 0 20px;
}


.hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.video {
    margin: 30px;
    padding: 10px 0 40px;
    border-radius: 50px;
    position: relative;
}

.video-heading {
    padding: 20px;
}

.video-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-pre {
    margin-bottom: 20px;
}