/* btn */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}


.btn {
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    color: var(--text-list);
    background-color: var(--btn-color);
    padding: 13px 20px;
    transition: background 0.15s ease-in-out;
}

.btn:hover {
    background-color: var(--light-color);
    color: var(--btn-color);
}

.btn-primery {
    background-color: #4891ff;
    color: var(--text-list);
}

.btn-dark {
    color: var(--text-list);
    background-color: var(--btn-color);
}

.btn-blcok {
    width: 100%;
    display: block;
}

.text-xxl {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 30px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 20px 0 20px;
}

.text-sm {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 0 5px;
}